$primary-color: #000000;
$secondary-color:#fff;

$accent-color: #57886c;
$accent-color-dark: darken($accent-color, 30%);
$accent-color-light: lighten($accent-color, 15%);


$text-color-light: #fff;
$text-color-dark: #000;

$scheme-default: $text-color-light, $primary-color;
$scheme-reverse: $text-color-dark, $secondary-color;

@mixin color-scheme($text, $bg) {
    background-color: $bg;
    color: $text;
}

@mixin color-container($text, $bg) {
    background-color: $bg;
    color: $text;

    @if ($bg == #fff) {
        border:  4px solid #000;
    } @else {
        border: 4px solid #fff;
    }
}

