$primary-color: #000000;
$secondary-color:#fff;

$primary-color-dark: darken($secondary-color, 30%);
$primary-color-light: lighten($primary-color, 100%);

$accent-color: #57886c;
$text-color-light: #fff;
$text-color-dark: #000;

$scheme-default: $text-color-light, $primary-color;
$scheme-reverse: $text-color-dark, $secondary-color;

@mixin color-scheme($text, $bg) {
    background-color: $bg;
    color: $text;
}