@use "base";
@use "colors";
@use "animations";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

  
header {
      display: flex;
      justify-content: space-between;
    }

nav {
      font-size: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 250px;
      display: none;

      ul {
          width: 100%;
          list-style-type: none;
          text-align: center;
          margin: 0 auto;
          padding: 0;
        }

      li {
          padding: 0.8em 0;
          width: 90%;
          margin-inline: auto;
          border-radius: 11px;
          margin-bottom: 10px;
        }

      li:hover {
          cursor: pointer;
        }

      a {
          text-decoration: none;
          padding: 0 1em;
         }
    }

  .menu-btn {
      display: flex;
      align-items: center;
      padding: 8px 15px;
      cursor: pointer;
      border: none;
      border-radius: 10px;
    }

  .open {
      margin: 10px;
    }

  .bars {
      display: block;
      width: 20px;
      height: 3px;
      margin: 5px 5px;
    }

  .menu-text {
      font-size: 1.2em;
    }

  .close {
      margin: 1em 1.5em;
      padding: 10px 15px;
    }

  .cross1 {
      width: 25px;
      transform: rotate(45deg);
      position: relative;
      top: 5px;
    }

  .cross2 {
      width: 25px;
      transform: rotate(135deg);
      position: relative;
      top: -3px;
    }


@media only screen and (min-width: 900px) {
    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
        height: 50px;
    }

    nav {
        display: block !important;
        position: static;
        right: 0;
        top: 0;
        height: auto;
        font-size: 1.4em;
        width: auto;
        margin-inline: auto;

        ul {
            height: 100%;
            margin-top: 10px;
            margin-right: 5%;
        }
    
        li {
            display: inline;
            padding: 0.5em;
            font-size: 16px;
        }
    }
}

.container {
    width: 90%;
    margin-top: 5%;
    margin-inline: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5%;

    h1 {
        text-align: center;
    }

}

.game-container {
    padding: 10px;
    margin-top: 40px;
    max-width: 70ch;
    margin-inline: auto;

    img {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        max-width: 100%;
    }

    p {
        line-height: 1.2em;
        padding-top: 0.5em;
    }
}


/*Animering*/

#text-animation {
  padding: 0.8em;
  animation: textAnimation 3s;
}

#animation {
  width: 100%;
  height: 150px;
  margin-inline: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  animation-name: bgTransition;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: none;
}

#animation-bt:hover {
  cursor: pointer;
}
